section {
    width: 50%;
    margin: 200px auto 200px auto;
    flex-direction: column;
    gap: 40px;
}
article {
    width: 100%;
    height: auto;
}
.date {
    width: 350px;
    height: 250px;
    background-color: #CCDFE0;
    flex-direction: column;
    color: white;
}
.date__number {
    font-size: 5em;
}
.date__month {
    font-size: 3em;
}
.event {
    width: fit-content;
    padding: 10px 60px;
    flex-direction: column;
}
.event__text {
    height: 210px;
    flex-direction: column;
}
h2 {
    font-size: 2em;
    font-weight: lighter;
    margin-bottom: 10px;
}
.dropdown {
    flex-direction: column;
    align-items: center;
    width: fit-content;
}
button {
    background-color: #E4FFEF;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 1em;
}
.dropdown__conteiner {
width: 30%;
flex-direction: column;
background-color: #E4FFEF;
position: absolute;
visibility: hidden;
padding: 20px;
gap: 20px;
opacity: 0;
margin-top: 30px;
transition: all 0.3s ease-in-out;
}
.dropdown:hover .dropdown__conteiner {
    visibility: visible;
    opacity: 1;
}
li > img {
    margin-right: 10px;
}