header {
    height: 12em;
    background-image: url(./assets/waves.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
h1 {
    font-size: 6em;
    font-weight: lighter;
    color: white;
}